<div class="container-fluid">
  <div class="row dashboard-header">
    <div class="container header-container">
      <div class="row overlap w-100">
        <app-header class="app-header w-100"></app-header>
      </div>
      <div class="row overlap dashboard-area-cards w-100">
        <div *ngFor="let item of areaChartData | keyvalue" class="col-xl-3 col-lg-6">
          <app-chart-card [pourData]="item.value"></app-chart-card>
        </div>
      </div>
    </div>
  </div>
  <div class="row dashboard-body">
    <div class="container body-container">
      <app-class-analytics></app-class-analytics>
      <h6 class="mb-3 mt-3">Marketing Analytics</h6>
      <app-portfolio [pourData]="item" class="row" *ngFor="let item of pieChartData | keyvalue"></app-portfolio>
    </div>
  </div>
</div>